.header {
  max-width: 100%;
  display: flex;
  justify-content: start;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 882px;
  }
}

