.content {
  max-width: 282px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    max-width: 882px;
  }
}
